.footer{
    background-color: rgb(26, 24, 24);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer h5{
    color: whitesmoke;
}
.footer_p{
    color: rgb(207, 203, 203);
}
.link{
    text-decoration: none;
    display: block;
    color: rgb(207, 203, 203);
    margin-bottom: 8px;
}
.link:hover{
    color: rgb(245, 163, 115);
}
i{
    color: white;
    font-size: 25px;
    margin-right: 20px;
}
i:hover{
    color: rgb(245, 163, 115); 
}
@media only screen and (max-width: 760px) {
    
}